body {
    margin: 0;
}

p{ /*Added my own font from Adobe Fonts*/
    color: rgb(255, 255, 255);
    font-family: "quicksand", sans-serif;
    font-weight: 300;
    font-style: normal;
}
 
/*this is for the home page picture and its attributes*/
.header{
    background-color: blueviolet;
    padding:10px;
    background-image:url("../images/FRONT\ PIC.jpg");
    background-size: cover;
    background-repeat:no-repeat;
    background-position:center;
    height: 100vh;
    text-align: center;
}

.pageTitleGraphic {
  width: 38%;
  position: fixed;
  top: 28%;
  left: 32%;
  opacity: 0;
  transition: opacity 1s; /* when you scroll this creates the fade effect*/
}

.homeImage {
  position: relative;
  display: block;
  z-index: 2; /*keeps the images above the secondpagegraphic title*/

}


.visible {
  opacity: 1; /*when is on the second page it is visible*/
}


.homeImage {
  position: relative;
  z-index: 2; /*keeps the video above the video image title*/

}


.visible {
  opacity: 1; /*when is on the third page it is visible*/
}

.menu {
position: fixed;
top: 0;
right:0;
font-family: "quicksand", sans-serif;
font-size: xxx-large;
color: black;
margin-top:70px ;
margin-right: 40px;
}



/********************this is the flipping card from https://uiverse.io/htwarriors108/tasty-stingray-56   ***********************/
.myCard {
    background-color: transparent;
    width: 290px; /*CHANGED THE WIDTH AND THE HEIGHT TO MAKE THE FLIP CARD BIGGER*/
    height: 454px;
    perspective: 1000px;
    margin-left:100px;  /*added this so it be more on the left*/
    margin-top:20px ; /*added this as well so it doesn't stay too at the top of the website*/
  }
  
  .title { /* 'Hi, Shamshad and About me' characteristic and also added my own font from Adobe fonts AND CHANGED THE FONT SIZE*/
    font-size: 1.3em; 
    font-weight: 900;
    text-align: center;
    margin:0;
    font-family: "adobe-handwriting-ernie", sans-serif; 
    font-weight: 400;
    font-style: normal;
    font-size: xx-large;
    }
  /*inside the card characteristic*/
  .innerCard {  
    position: relative;
    width: 100%;
    height: 90%;  /*made the height to 90 from 100*/
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    cursor: pointer;
    
  }
    
  .myCard:hover .innerCard {
    transform: rotateY(180deg); /*rotates the about me so the audience see the back of the card*/
  }
  /*changed the height to 90 from 100 */
  .frontSide,
  .backSide {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 90%; 
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 2px solid rgba(255, 255, 255, 0.8);
    border-radius: 1rem;
    color: white;
    box-shadow: 0 0 0.3em rgba(255, 255, 255, 0.5);
    font-weight: 700;
  }
  /*gradient color and effect for the front side of the flipping card*/
  .frontSide,
  .frontSide::before {
    background: linear-gradient(43deg, rgb(75, 41, 62) 0%, rgb(175, 136, 163) 46%, rgb(226, 195, 200) 100%); /*CHANGED THE COLOR FROM PINKSH GRADIENT TO pink GRADIENT*/
  }
  /*gradient color and effect for back of the card*/
  .backSide,
  .backSide::before {
    background-image: linear-gradient(160deg, #74496c 0%, rgb(177, 117, 159) 100%); /*CHANGED THE COLOR TO DIFFERENT SHADE OF pink*/
  }
  
  .backSide {
    transform: rotateY(180deg);
  }
  
  /*the blurrienss/shadow behind the box*/
  .frontSide::before,
  .backSide::before {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: '';
    width: 120%;  /*changed the width and height of the blurriness*/
    height: 120%;
    position: absolute;
    z-index: -1;
    border-radius: 1em;
    filter: blur(20px);
    animation: animate 5s linear infinite;
  }
  
  @keyframes animate {
    0% {
      opacity: 0.3;
    }
  
    80% {
      opacity: 1;
    }
  
    100% {
      opacity: 0.3;
    }
  }
  /**************************************** this is the end of the flipping card******************/


 /*******************this is the start of the instagram flipping card from https://uiverse.io/htwarriors108/tasty-stingray-56  */

  .myCard { /*rotates the about me so the audience see the back of the card*/
    background-color: transparent;
    width: 290px; /*CHANGED THE WIDTH AND THE HEIGHT TO MAKE THE FLIP CARD Smaller*/
    height: 430px;
    perspective: 1000px;
    margin-left:100px;  /*added this so it be more on the left*/
    margin-top:20px ; /*added this as well so it doesn't stay too at the top of the website*/
  }
  
  .title { /* 'Hi, Shamshad and About me' characteristic and also added my own font from Adobe fonts AND CHANGED THE FONT SIZE*/
    font-size: 1.3em; 
    font-weight: 900;
    text-align: center;
    margin:0;
    font-family: "adobe-handwriting-ernie", sans-serif; 
    font-weight: 400;
    font-style: normal;
    font-size: xx-large;
    }
  /*inside the card characteristic*/
  .innerCard {  
    position: relative;
    width: 100%;
    height: 90%;  /*made the height to 90 from 100*/
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    cursor: pointer;
  }
    
  .myCard:hover .innerCard {
    transform: rotateY(180deg);
  }
  /*changed the height to 70 from 100 */
  .frontSide,
  .backSide {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 90%; 
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 2px solid rgba(255, 255, 255, 0.8);
    border-radius: 1rem;
    color: white;
    box-shadow: 0 0 0.3em rgba(255, 255, 255, 0.5);
    font-weight: 700;
  }
  /*gradient color and effect for the front side of the flipping card*/
  .frontSide,
  .frontSide::before {
    background: linear-gradient(43deg, rgb(75, 41, 62) 0%, rgb(175, 136, 163) 46%, rgb(226, 195, 200) 100%); /*CHANGED THE COLOR FROM PINKSH GRADIENT TO pink GRADIENT*/
  }
  
  .backSide,
  .backSide::before {
    background-image: linear-gradient(160deg, #74496c 0%, rgb(177, 117, 159) 100%); /*CHANGED THE COLOR TO DIFFERENT SHADE OF pink*/
  }
  
  .backSide {
    transform: rotateY(180deg);
  }
  
  .frontSide::before,
  .backSide::before {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: '';
    width: 120%;
    height: 120%; /*changed the width and height of the blurriness*/
    position: absolute;
    z-index: -1;
    border-radius: 1em;
    filter: blur(20px);
    animation: animate 5s linear infinite;
  }
  
  @keyframes animate {
    0% {
      opacity: 0.3;
    }
  
    80% {
      opacity: 1;
    }
  
    100% {
      opacity: 0.3;
    }
  }

/****************************this is the end of the instagram flipping card***************************/
